<footer>
    <div class="container">
        <div class="row">
            <div class="col-xs-6 col-s-3 icon-footer">
                <img alt="icono"  src="../icon-shipping.png" height="60">
                <p><strong>Envios gratis</strong><br> Por compra del Combo</p>
            </div>
            

            <div class="col-xs-6 col-s-3 icon-footer">
                <img alt="icono"  src="../icon-refund.png" height="60">
                <p><strong>Devoluciones gratis</strong></p>
            </div>

            <div class="col-xs-6 col-s-3 icon-footer">
                <img alt="icono"  src="../icon-customer-service.png" height="60">
                <p><strong>Atencion al cliente</strong><br> 6 días a la semana</p>
            </div>

            <div class="col-xs-6 col-s-3 icon-footer">
                <img alt="icono"  src="../icon-secure.png" height="60">
                <p><strong>Pago seguro</strong><br> 100% confiable</p>
            </div>
        </div>
        <p>&coy; Natureart Porducts</p>
    </div>
    
    
    
    
</footer>