<h1 class="tetle-products">Natureart Products</h1>

<div class="row">
    <div class="col-sx-12">
        <form>
            <input class="search-input" type="search" name="search" placeholder="Busca el articulo o una referancia...">
        </form>
        <select class="select-order">
            <option>Precio más bajo</option>
            <option>Precio más alto</option>
            <option>Por opiniones</option>
            <option>Por descuento</option>
        </select>
    </div>

</div>

<div class="row">
    <a href="#" class="col-m-4 col-s-6 product-box">
        <img src="../producto1.png" alt="producto" width="100%">
        <div class="hidden offer">Oferta</div>
        <h3>Shampoo (Vitamina E & Coco)</h3>
        <strong class="price">$500</strong>
    </a>
    <a href="#" class="col-m-4 col-s-6 product-box">
        <img src="../producto2.png" alt="producto" width="100%">
        <div class="hidden offer">Oferta</div>
        <h3>Shampoo (Biotina)</h3>
        <strong class="price">$400</strong>
    </a>

    <a href="#" class="col-m-4 col-s-6 product-box">
        <img src="../producto6.png" alt="producto" width="100%">
        <div class="hidden offer">Oferta</div>
        <h3>Keratina (Colageno)</h3>
        <strong class="price">$700</strong>
    </a>

    </a>
    <a href="#" class="col-m-4 col-s-6 product-box">
        <img src="../producto8.png" alt="producto" width="100%">
        <div class="hidden offer">Oferta</div>
        <h3>Tratamiento (Progresivo Capilar)</h3>
        <strong class="price">$500</strong>
    </a>
    <a href="#" class="col-m-4 col-s-6 product-box">
        <img src="../producto9.png" alt="producto" width="100%">
        <div class="hidden offer">Oferta</div>
        <h3>Gotero (Biotina)</h3>
        <strong class="price">$500</strong>
    </a>
    <a href="#" class="col-m-4 col-s-6 product-box">
        <img src="../producto10.png" alt="producto" width="100%">
        <div class="hidden offer">Oferta</div>
        <h3>Combo</h3>
        <strong class="price">$2500</strong>
    </a>
</div>

<ul class="pagination">
    <li><a href="#" class="active">1</a></li>
    <li><a href="#">2</a></li>
    <li><a href="#">3</a></li>
    <li>...</li>
    <li><a href="#">10</a></li>
</ul>